menuconfig OTDOA_AL_LIB
 bool "OTDOA library"
 help
   The OTDOA library can be used to do $(PHYWI MARKETING MATERIAL)

if OTDOA_AL_LIB

module = OTDOA_AL_LIB
module-str = OTDOA AL library

config OTDOA_DEBUG_LOGS
    bool "Link with debug logging version of OTDOA library for verbose logging"
    default false


config OTDOA_CFG_DL_INTERVAL
    int "Interval between uBSA downloads to trigger a config download"
    default 5

config OTDOA_HTTP_QUEUE_STACK_SIZE
    int "HTTP work queue stack size in bytes"
    default 2048

config OTDOA_HTTP_QUEUE_PRIORITY
    int "HTTP work queue priority"
    default 5

config OTDOA_RS_THREAD_STACK_SIZE
    int "RS work queue stack size in bytes"
    default 4096

config OTDOA_RS_THREAD_PRIORITY
    int "RS work queue priority"
    default 5

config OTDOA_TLS_SEC_TAG
    int "Modem security tag slot to install PhyWi TLS certificate to"
    default 42

config OTDOA_BSA_DL_SERVER_URL
    string "URL to download BSA files from"
    default "api.prod.hellaphy.cloud"

config OTDOA_HTTPS_PORT
    int "Port to use for OTDOA HTTPS operations"
    default 443

config OTDOA_HTTP_PORT
    int "Port to use for OTDOA HTTP operations"
    default 80

config OTDOA_ENABLE_RESULTS_UPLOAD
    bool "Enable uploading of OTDOA results to a server"
    default false

config OTDOA_RESULTS_UPLOAD_PW
    string "Password to use for Phywi API authentication when uploading OTDOA results"
    default ""
    depends on OTDOA_ENABLE_RESULTS_UPLOAD

config OTDOA_UPLOAD_SERVER_URL
    string "URL to upload OTDOA results to"
    default "api.prod.hellaphy.cloud"
    depends on OTDOA_ENABLE_RESULTS_UPLOAD

endif # OTDOA_AL_LIB
